certifi==2021.10.8
charset-normalizer==2.0.6
click==8.0.2
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
Js2Py==0.71
MarkupSafe==2.0.1
psycopg2==2.9.1
pyjsparser==2.7.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.25
tzlocal==3.0
urllib3==1.26.7
Werkzeug==2.0.2
