/* STYLING FULL SCREEN MAP -> Fix space on L&R...padding does nth, margin pulls left */
html, body, #activities-map {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1; /* -1 puts map behind navbar, i.e. unreactive to clicks & +1 hides navbar */
}

body {
    background-color: black;
}
/* END STYLING FULL SCREEN MAP */



/* STYLING NAVBAR */
#nav-control {
    margin: 1%;
    position: absolute;
    z-index: 1; /* Place toggler above navbar & map */
}

.flex-column {
    background-color: #152828;
    height: 100vh;
    width: 15vw;
    position: absolute; /* Place navbar on top of map */
}

.sidebar-expanded {
    padding: 5%;
}

.sidebar-expanded li {
    line-height: 2.5em;
}

.text-decoration-none, #map-options, hr {
    color: white;
}

.sidebar-expanded .nav-title {
    font-size: x-large;
    text-align: center;
}
.sidebar-expanded .nav-items {
    list-style: none;
    height: 80vh;
    padding: 0;
}
.sidebar-expanded #map-options {
    list-style: none;
    padding: 0;
}

.links {
    padding: 0;
}
.links li:nth-child(1)::before {
    content: "🔗 ";
}
.links li:nth-child(2)::before {
    content: "👩‍💻 ";
}
/* END STYLING NAVBAR */



/* STYLING MAP ACTIVITY DETAILS */
.styled-popup {
    list-style: none;
    padding: 0;
    margin: 0;
}

.styled-popup li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.styled-popup li:nth-child(1)::before {
    content: "📅 ";
}
.styled-popup li:nth-child(2)::before {
    content: "🏷️ "; /* 📛 */
}
.styled-popup li:nth-child(3)::before {
    content: "💦 ";
}
.styled-popup li:nth-child(4)::before {
    content: "⏱️ ";
}
.styled-popup li:nth-child(5)::before {
    content: "📏 "; /* 📍 */
}
.styled-popup li:nth-child(6)::before {
    content: "🔗 ";
}
/* END STYLING MAP ACTIVITY DETAILS */