/* STYLING FULL SCREEN MAP */
/* Resize map to be fullscreen and place under toggler/sidebar */
#activities-map {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

body {
    background-color: black;
}
/* END STYLING FULL SCREEN MAP */



/* STYLING NAVBAR */
/* Customize size of offcanvas sidebar */
.offcanvas-backdrop {
    width: 15%;
}
#sidebar {
    background-color: #152828;
    width: 250px;
}

/* Add padding around logo toggler & place above map */
#toggler {
    height: 6vh;
    width: 3vw;
    padding: 1%;
    position: absolute;
    z-index: 2;
}

/* Match sizing of both logos using shared id */
#logo {
    /* height: 4vh;
    width: 2vw; */
    height: 35px;
    width: 35px;
}

/* Styling date filter feature */
.form-check {
    color: white;
    font-size: 0.8em;
    line-height: normal;
}

.form-check-label {
    padding: 4%;
}

/* Remove hyperlink formatting */
li a, hr {
    text-decoration: none;
    color: white;
}

/* Left-align main menu list items & add spacing */
ul {
    padding: 0;
    line-height: 3em;
}

/* Customize bullet pts for links */
.links li:nth-child(2)::before {
    content: "🔗 ";
}
.links li:nth-child(3)::before {
    content: "👩‍💻 ";
}
/* END STYLING NAVBAR */


/* STYLING LOADER */
/* Source: https://codepen.io/tashfene/pen/raEqrJ  / Modified such that loader-inner is round logo */
.loader-wrapper {
    width: 100%;
    height: 50%;
    opacity: 0.8;
    position: absolute; /* Place loader above Leaflet */
    z-index: 3;
    background-color: #242f3f;
    margin: auto; /* Center loader div on page horizontally */
    margin-top: 25%; /* Center loader div on page vertically */
    display: flex; /* Center loader icon on div */
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% { transform: rotate(0deg);}
25% { transform: rotate(180deg);}
50% { transform: rotate(180deg);}
75% { transform: rotate(360deg);}
100% { transform: rotate(360deg);}
}
/* @keyframes loader-inner {
0% { height: 0%;}
25% { height: 0%;}
50% { height: 100%;}
75% { height: 100%;}
100% { height: 0%;}
} */
/* END STYLING LOADER */


/* STYLING MAP ACTIVITY DETAILS */
.styled-popup {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.styled-popup li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.styled-popup li:nth-child(1)::before {
    content: "📅 ";
}
.styled-popup li:nth-child(2)::before {
    content: "🏷️ "; /* Alt option = 📛 */
}
.styled-popup li:nth-child(3)::before {
    content: "💦 ";
}
.styled-popup li:nth-child(4)::before {
    content: "⏱️ ";
}
.styled-popup li:nth-child(5)::before {
    content: "📏 ";
}
.styled-popup li:nth-child(6)::before {
    content: "🔗 ";
}
/* END STYLING MAP ACTIVITY DETAILS */


/* STYLING TRAINING PLANS PAGE */
form {
    background-color: grey;
    margin: auto; /* Center form on page horizontally */
    margin-top: 5%; /* Center form on page vertically */
    width: 30%;
    padding: 2%; /* Create space between text & div border */
}

#open-form {
    background-color: grey;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    right: 25px;
    width: 200px;
}

.btn-container {
    text-align: center;
    padding: 2%;
}

#goal-date {
    width: 100px;
    color: black;
}

#custom-plan {
    border-style: double;
    margin: auto;
    width: 30%;
    text-align: center;
}
/* END STYLING TRAINING PLANS PAGE */