/* BASIC STYLING FOR ALL PAGES */
body {
    background-color: #101E29;
}
/* END BASIC STYLING */



/* LANDING PAGE STYLING */
#title, #subtitle {
    display: flex;
    justify-content: center;
}

.placeholder {
    height: 10vh;
}

/* Styling splitview divs */
/* Source: https://codepen.io/bradtraversy/pen/NaKxdP */
#splitview-wrapper {
    height: 40vw;
    width: 100vw;
    position: relative; /* Prevent handle from exceeding wrapper div */
    overflow: hidden; /* Prevent handle from exceeding wrapper div */
}

.layer {  
    height: 40vw;
    width: 100vw;
    position: absolute; /* Prevent img from 'sticking' */
    overflow: hidden; /* Prevent img from 'sticking' */
}

/* Styling splitview text */
.layer .content-wrap {
    height: 40vw;
    width: 100vw;
}

.layer .content {
    text-align: center;
    position: absolute; /* Fix text in place */
    transform: translateY(-50%); /* Bring text up so that it is centered on wrapper */
    width: 20%; /* Contain each text block to its own half */
    top: 50%;
}

.layer h1 {
    font-size: 2em; /* Reduce font size slightly */
}

.top {
    background-color: #B6CCD7;
    z-index: 2; /* Place above bottom layer */
}

.top .content {
    color: black;
    left: 5%; /* Create padding */
}

.bottom {
    background: #333333;  /* #222222; */
    z-index: 1; /* Place below top layer */
}

.bottom .content {
    color: white;
    right: 5%; /* Create padding */
}

.bottom h1 {
    color: #FC4C02;
}

/* Styling splitview images */
.layer img{
    position: absolute; /* Fix imgs in place */
    transform: translate(-50%, -50%); /* Center imgs on wrapper */
    width: 35%;
    top: 50%;
    left: 50%;
}

#demo {
    width: 63%; /* Resize demo to be more visually appropriate */
    left: 40%;
}

/* Styling splitview handle */
.handle {
    background-color: #FC4C02;
    position: absolute;
    display: block;
    transform: rotate(30deg) translateY(-50%);
    transform-origin: top;
    height: 200%;
    width: 5px;
    top: 50%;
    left: 50%;
    z-index:3; /* Place handle above both image layers */
}

.top {
    transform: skew(-30deg);
    margin-left: -1000px; /* Matching width of wrapper / Keeps top layer left */
    width: calc(50vw + 1000px);
}

.splitview .top .content-wrap {
    transform: skew(30deg); /* Prevent top layer from moving with handle */
    margin-left: 1000px;
}

/* Styling 'Connect with Strava' btn */
#connect-btn {
    display: flex;
    justify-content: center;
}

#github {
    bottom: 0;
    right: 0;
    padding: 2%;
}

#connect-btn img, #github img {
    border-radius: 10px; /* Round corners of img */
    box-shadow: 2px 2px 20px 3px rgb(44, 44, 44); /* offset-x | offset-y | blur-radius | spread-radius | color */
}
/* END LANDING PAGE STYLING */



/* STYLING FULL SCREEN MAP */
/* Resize map to be fullscreen and place under toggler/sidebar */
#activities-map {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}
/* END STYLING FULL SCREEN MAP */



/* STYLING SIDEBAR / NAVBAR */
/* Customize size of offcanvas sidebar */
.offcanvas-backdrop {
    width: 250px;
}
#sidebar {
    background-color: #152828;
    width: 250px;
}

/* Add padding around logo toggler & place above map */
#toggler {
    height: 6vh;
    width: 3vw;
    padding: 1%;
    position: absolute;
    z-index: 2;
}

/* Match sizing of both logos using shared id */
#logo {
    height: 35px;
    width: 35px;
}

/* Styling filter features */
.form-check {
    color: white;
    font-size: 0.8em;
    line-height: normal;
}

/* Remove hyperlink formatting */
li a, hr {
    text-decoration: none;
    color: white;
}

a:hover {   
  text-decoration: none;
  color: white;
}

/* Left-align main menu list items & add spacing */
ul {
    padding: 0;
    line-height: 3em;
}

/* Customize bullet pts for links */
.links li:nth-child(2)::before {
    content: "🔗 ";
}
.links li:nth-child(3)::before {
    content: "👩‍💻 ";
}
/* END STYLING SIDEBAR / NAVBAR */


/* STYLING LOADER */
/* Inspiration: https://codepen.io/tashfene/pen/raEqrJ */
.loader-wrapper {
    background-color: #242f3f;
    opacity: 0.8;
    position: absolute; /* Place loader above Leaflet */
    z-index: 3;
    height: 50%;
    width: 100%; /* Span wrapper across whole page */
    margin: auto;
    top: 0; /* Center loader wrapper div horizontally & vertically on page */
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Center loader icon on wrapper div */
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% { transform: rotate(0deg);}
25% { transform: rotate(180deg);}
50% { transform: rotate(180deg);}
75% { transform: rotate(360deg);}
100% { transform: rotate(360deg);}
}
/* END STYLING LOADER */


/* STYLING MAP ACTIVITY DETAILS */
.styled-popup {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.styled-popup li {
    padding-left: 1rem;
    text-indent: -0.75rem;
}

.styled-popup li:nth-child(1)::before {
    content: "📅 ";
}
.styled-popup li:nth-child(2)::before {
    content: "🏷️ "; /* Alt option = 📛 */
}
.styled-popup li:nth-child(3)::before {
    content: "💦 ";
}
.styled-popup li:nth-child(4)::before {
    content: "⏱️ ";
}
.styled-popup li:nth-child(5)::before {
    content: "📏 ";
}
.styled-popup li:nth-child(6)::before {
    content: "🔗 ";
}
/* END STYLING MAP ACTIVITY DETAILS */


/* STYLING TRAINING PLANS PAGE */
.row {
    background-color: grey;
}

.form-btn-container {
    /* background-color: #B6CCD7; */
    padding: 1%;
}

#calendar-container {
    /* background-color: grey; */
}

#calendar {
    margin-top: 50px;
    color: white;
}

/* Remove hyperlink formatting */
#calendar a {
    text-decoration: none;
    color: white;
}

/* Override default color / highlighting of today's date */
#calendar .fc-day-today {
    background: #B6CCD7 !important;
    opacity: 0.8;
    z-index: -1;
}

#calendar .fc-col-header-cell {
    background-color: #2C3E4F;
}

/* Table styling */
.table>:not(:first-child) {
    border-top: 0.5px solid;
}

#table-wrapper {
    background-color: #2C3E4F;
    /* background: linear-gradient(#2C3E4F, grey); */
    height: 705px;
    margin-top: 45px; /* Bring table in-line with calendar's days of the week */
}

#existing-plans {
    color: white;
}

#table-title {
    text-align: center;
    padding: 3%;
}

/* Pop-up form styling */
#open-form {
    background-color: #004BAD;
    color: white;
    border-radius: 10px; /* Round corners of img */
    box-shadow: 2px 2px 20px 3px rgb(44, 44, 44); /* offset-x | offset-y | blur-radius | spread-radius | color */
    margin-top: 0.3%;
    margin-left: 80%;
}

.modal {
    color: black;
}

.modal-body label {
    color: black;
}

.modal #goal-date {
    width: 140px; /* Resize datepicker input so that whole default text shows */
    height: 30px;
    color: black;
}

.modal-footer {
    display: block;
}
/* END STYLING TRAINING PLANS PAGE */