<!-- Extend / Import basic templating from 'base.html' -->
{% extends 'base.html' %}

<!-- Within each page's <html> : 
{% block NAME %} your_page's_custom_stuff_here {% endblock %} -->

<!DOCTYPE html>
<html>
    <body>
        {% block body %}

        <h1>This is your activities page!</h1>
        
        <div class="container">
            <p>Map goes here...</p>
        </div>

        {% endblock %}

        <!-- JavaScript here -->
        {% block script %}
        <script>
            function getActivities(athlete_id) {

            }

            athlete_id = session['athlete_id']
        </script>
        {% endblock %}
    </body>
</html>