<!-- Extend / Import basic templating from 'base.html' -->
{% extends 'base.html' %}

<!-- Within each page's <html> : 
{% block NAME %} your_page's_custom_stuff_here {% endblock %} -->

<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        
        <!-- Flashes will show for unauthenticated users -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h1>This is the homepage!</h1>
        
        <div class="container">
            <a href="/login" > 
            <!-- <button class="btn" onclick="strava_login();"> -->
                <img src="../static/images/connect_with_strava.png" class="img-fluid" alt="Connect with Strava" id="strava-btn" />
            <!-- </button> -->
            </a>
        </div>

        {% endblock %}

        <!-- JavaScript here -->
        {% block script %}
        <script>

        </script>
        {% endblock %}
    </body>
</html>