<!-- Extend / Import basic templating from 'base.html' -->
{% extends 'base.html' %}

<!-- Within each page's <html> : 
{% block NAME %} your_page's_custom_stuff_here {% endblock %} -->

<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        
        <!-- Flashes will show for unauthenticated users only -->
        <!-- Styling of the flash message utilizes the Bootstrap alert component -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-warning fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ msg }}
                    </div>    
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Web app title -->
        <div id="title">
            <img src="../static/images/balans_title.png/" alt="BALANS" width=350 height=100/>
        </div>
        <div id="subtitle">
            <img src="../static/images/powered-by-strava.png" alt="Powered By Strava" width=150 height=25/>
        </div>

        <div class="placeholder"></div>

        <!-- Create splitview container (3 parts: image on top, bottom, and handle)-->
        <!-- Inspiration: https://webdesign.tutsplus.com/tutorials/how-to-create-a-split-screen-slider-with-javascript--cms-28844 & https://codepen.io/bradtraversy/pen/NaKxdP -->
        <div class="splitview skew">
            <!-- Mat & gear on top -->
            <div class="layer top">
                <!-- Create divs to wrap content -->
                <!-- Content includes: header, paragraph, image -->
                <div class="content-wrapper">
                    <div class="content">
                        <h2>Just You</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
                    </div>
                    <!-- Photo by <a href="https://unsplash.com/@schimiggy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexandra Tran</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                    <img src="../static/images/mat-and-gear.png" id="mat-and-gear">
                </div>
            </div>
            <!-- Demo on bottom -->
            <div class="layer bottom">
                <div class="content-wrapper">
                    <div class="content">
                        <h2>And the Numbers</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam temporibus dolore vero reiciendis atque debitis. Sequi at consequatur deserunt?</p>
                    </div>
                    <img src="../static/images/demo.png" id="demo">
                </div>
            </div>
            <!-- Handle as visual tool -->
            <div class="handle"></div>
        </div>

        <div class="placeholder"></div>

        <div id="connect-btn">
            <a href="/login"> 
                <img src="../static/images/connect_with_strava.png" alt="Connect with Strava" width=350 height=70/>
            </a>
        </div>

        <div class="placeholder"></div>

        <div id="github">
            <a href="https://github.com/katalinschmidt/strava_balans" target="_blank">
                <!-- Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> -->
                <img src="../static/images/github-logo.png" alt="Github" class="rounded-circle" width=45 height=45/>
            </a>
        </div>
        {% endblock %}
    </body>

    <footer>
        {% block footer_script %}
        <!-- My files / Splitview img -->
        <script src="../static/index.js"></script>
        {% endblock %}
    </footer>
</html>