<!-- Extend / Import basic templating from 'base.html' -->
{% extends 'base.html' %}

<!-- Within each page's <html> : 
{% block NAME %} your_page's_custom_stuff_here {% endblock %} -->

<!DOCTYPE html>
<html>
    <head>
        {% block head_script %}
        <!-- FullCalendar -->
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css"/>
        {% endblock %}
    </head>

    <body>
        {% block body %}

        <!-- SIDERBAR / NAVBAR -->
        <div id="toggler">
            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <img id="logo" src="../static/images/balans_logo.png" class="rounded-circle"/>
            </a>            
        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="sidebar">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title text-white">Main Menu</h4>
                <a href="#" data-bs-dismiss="offcanvas">
                    <img id="logo" src="../static/images/balans_logo.png" class="rounded-circle"/>
                </a>
            </div>
            <div class="offcanvas-body">
                <ul class="menu">
                    <hr>
                    <li class="submenu-map-options">
                        <a href="/athlete_profile">Activities Map</a>
                    </li>
                    <li>
                        <a href="#">Training Plan</a>
                    </li>
                    <!-- <li>
                        <a href="#">Diet</a>
                    </li>
                    <li>
                        <a href="#">Journal</a>
                    </li> -->
                </ul>
                <ul class="links">
                    <hr>
                    <li>
                        <a href="/logout" >
                            <img src="../static/images/logout-icon.png" width=25 height=20/>
                            Log Out
                        </a>
                    </li>
                    <li>
                        <a href="https://www.strava.com/dashboard" target="_blank">Go to Strava</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/katalin-schmidt" target="_blank">About the Dev</a>
                    </li>
                </ul>
            </div>
        </div>  
        <!-- END SIDEBAR / NAVBAR  -->
        
        <div class="placeholder"></div>

        <!-- Bootstrap Grid -->
        <div class="container">
            <div class="row">
                <!-- OPEN FORM BUTTON -->
                <div class="form-btn-container">
                    <a data-bs-toggle="modal" data-bs-target="#get-trng-plan">
                        <img src="../static/images/make-new-plan.png" id="open-form" width=250 height=40 style="cursor: pointer">
                    </a>
                </div>
                <!-- END OPEN FORM BUTTON -->
            </div>
            <div class="row">
                <div class="col-8" id="calendar-container">
                    <!-- CALENDAR -->
                    <div id="calendar">
                        <!-- Calendar renders here -->
                    </div>
                    <!-- END CALENDAR -->
                </div>
                <div class="col-4">
                    <!-- EXISTING PLANS TABLE -->
                    <div id="table-wrapper">
                        <table class="table" id="existing-plans" style="cursor:default">
                            <h4 class="text-white" id="table-title">Your Existing Plans</h4>
                            <thead>
                                <th style="display: none;">Goal ID</th> <!-- Goal ID must be on table for CRUD functions but hidden from user -->
                                <th>Training Goal</th>
                                <th>Goal Date</th>
                            </thead>
                            <!-- JS will render body content here -->
                        </table>
                    </div>
                    <!-- END EXISTING PLANS TABLE -->
                </div>
            </div>
        </div>
        <!-- End Bootstrap Grid -->
        
        <!-- GOAL FORM -->
        <!-- Using Bootstrap modal to create popup on top of calendar -->
        <!-- Omitting action & request type specification here so JS can handle form instead of Python -->
        <div class="modal" id="get-trng-plan" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Let's get competitive!</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="trng-goal-form">
                        <div class="goal-radio-btns">
                            <h5>Pick a training goal:</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="5K run" id="5k-run">
                                <label class="form-check-label" for="5k-run">5K run</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="10K run" id="10k-run">
                                <label class="form-check-label" for="10k-run">10K run</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="Half marathon" id="half-marathon">
                                <label class="form-check-label" for="half-marathon">Half marathon</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="Full marathon" id="full-marathon">
                                <label class="form-check-label" for="full-marathon">Full marathon</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="50mi ride" id="50mi-ride">
                                <label class="form-check-label" for="50mi-ride">50mi ride</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="100mi ride" id="100mi-ride">
                                <label class="form-check-label" for="100mi-ride">100mi ride</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="1500m swim" id="1500m-swim">
                                <label class="form-check-label" for="1500m-swim">1500m swim</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="trng-goal" value="5000m swim" id="5000m-swim">
                                <label class="form-check-label" for="5000m-swim">5000m swim</label>
                            </div>
                        </div>
                        <hr>
                        <div class="goal-date-input">
                            <h5>When is <b><i>mission accomplished</i></b>?</h5>
                            <input class="form-check-input" type="date" name="trng-goal-date" id="goal-date">
                            <label class="form-check-label" for="goal-date"></label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="form-submit" >Build my plan! 🔥</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="form-cancel">Actually, I'm good with where I'm at! 💪</button>
                </div>
                </div>
            </div>
        </div>
        <!-- END GOAL FORM -->

        <!-- EDIT TRAINING ITEM FORM -->
        <div class="modal" id="edit-trng-plan" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Training Item</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-item-form">
                        <h6>The current training item for this day is:</h6>
                        <p id="curr_trng_item"></p>
                        <h6>What would you like to do instead?</h6>
                        <input class="form-control" id="edited-item" placeholder="Your activity name here">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="edit-submit" >Make the changes! ✅</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="edit-cancel">Cancel the changes! ❌</button>
                </div>
                </div>
            </div>
        </div>

        <div class="placeholder"></div>
        {% endblock %}
    </body>

    <footer>
        {% block footer_script %}
        <!-- My files / Rendering calendar & table dynamically -->
        <script type="module" src="../static/training.js"></script>
        {% endblock %}
    </footer>
</html>