<!-- Extend / Import basic templating from 'base.html' -->
{% extends 'base.html' %}

<!-- Within each page's <html> : 
{% block NAME %} your_page's_custom_stuff_here {% endblock %} -->

<!DOCTYPE html>
<html>
    <head>
        {% block head_script %}
        <!-- FullCalendar -->
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css"/>
        {% endblock %}
    </head>

    <body>
        {% block body %}

        <!-- SIDERBAR / NAVBAR -->
        <div id="toggler">
            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <img id="logo" src="../static/images/balans_logo.png" class="rounded-circle"/>
            </a>            
        </div>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="sidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white">BALANS</h5>
                <a href="#" data-bs-dismiss="offcanvas">
                    <img id="logo" src="../static/images/balans_logo.png" class="rounded-circle"/>
                </a>
            </div>
            <div class="offcanvas-body">
                <ul class="menu">
                    <hr>
                    <li class="submenu-map-options">
                        <a href="/athlete_profile">Map / Visualizer</a>
                    </li>
                    <li>
                        <a href="#">Training Plan</a>
                    </li>
                    <li>
                        <a href="#">Diet</a>
                    </li>
                    <li>
                        <a href="#">Journal</a>
                    </li>
                </ul>
                <!-- How to keep links pinned to bottom of sidebar? -->
                <!-- <div class="separator"></div> -->
                <ul class="links">
                    <hr>
                    <li>
                        <a href="https://www.strava.com/dashboard">Go to Strava</a>
                    </li>
                    <li>
                        <a href="#">About the Dev</a>
                    </li>
                </ul>
            </div>
        </div>  
         <!-- END SIDEBAR / NAVBAR  -->
 
        <!-- EXISTING PLANS TABLE -->
        <table class="table" id="existing-plans" style="cursor:pointer">
            <h3>Here are all your existing training goals! Click to see the plan.</h3>
            <thead>
                <th style="display: none;">Goal ID</th>
                <th>Training Goal</th>
                <th>Goal Date</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- END EXISTING PLANS TABLE -->
        
        <!-- GOAL FORM -->
        <button type="button" id="open-form">Create a New Plan</button>

        <!-- Omitting action & request type specification here so JS can handle form instead of Python -->
        <form id="get-trng-plan" style="display: none;">
            <div class="form-title">
                <h2>Let's get competitive!</h1>
            </div>
            <hr>
            <div class="form-content">
                <h4>Pick a training goal:</h2>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trng-goal" value="5K run" id="5k-run">
                    <label class="form-check-label" for="5k-run">5K run</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trng-goal" value="10K run" id="10k-run">
                    <label class="form-check-label" for="10k-run">10K run</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trng-goal" value="Half marathon" id="half-marathon" disabled>
                    <label class="form-check-label" for="half-marathon">Half marathon</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trng-goal" value="Full marathon" id="full-marathon" disabled>
                    <label class="form-check-label" for="full-marathon">Full marathon</label>
                </div>
            </div>
            <hr>
            <div>
                <h4>When is "mission accomplished"?</h4>
                <input class="form-check-input" type="date" name="trng-goal-date" id="goal-date">
                <label class="form-check-label" for="goal-date"></label>
            </div>
            <hr>
            <div class="btn-container">
                <button type="submit" class="btn btn-light" id="form-submit">OK, build my Custom Plan! 🔥</button>
            </div>
            <div class="btn-container">
                <button type="button" class="btn btn-light" id="form-cancel">Actually, I'm good with where I'm at! 💪</button>                
            </div>
        </form>
        <!-- END GOAL FORM -->

        <!-- CALENDAR -->
        <div id="calendar">
            <!-- Calendar renders here -->
        </div>
        <!-- END CALENDAR -->
        {% endblock %}
    </body>

    <footer>
        {% block footer_script %}
        <!-- My files / Rendering calendar & table dynamically -->
        <script type="module" src="../static/training.js"></script>
        {% endblock %}
    </footer>
</html>